<table class="table">
    <tr>
        <td><h3>Details for {{user.firstName}} {{user.lastName}}</h3></td>
        <td></td>
    </tr>
    <tr>
        <td>ID</td>
        <td>{{user._id}}</td>
    </tr>
    <tr>
        <td>Company</td>
        <td>{{user.company.name}}</td>
    </tr>
    <tr>
        <td>Email</td>
        <td>{{user.email}}</td>
    </tr>
    <tr>
        <td>OpenId</td>
        <td>{{user.openId}}</td>
    </tr>
    <tr>
        <td>Plan</td>
        <td>{{user.plan}}</td>
    </tr>
</table>
